{% extends 'addbase.html' %}
{% block body %}
<form action="/additem" method="POST">

    <label for="name">Item Name</label>
    <input id="name" type="text" name="item_name">
    <br>

    <label for="rarity">Item Rarity (Not Finished)</label>
    <input id="rarity" type="number" name="item_rarity" min="0" max="9">
    <br>

    <label for="type">Item Type</label>
    <input id="type" type="text" name="item_type" list="types">
    <datalist id="types">
        {% for type in types %}
            <option value="{{ type.TypeName }}">{{ type.TypeName }}</option>
        {% endfor %}
    </datalist>

    <label for="source">Source</label>
    <input id="source" type="text" name="item_source" list="sources">
    <datalist id="sources">
        {% for source in sources %}
            <option value="{{ source.SourceName }}">{{ source.SourceName }}</option>
        {% endfor %}
    </datalist>

    <input type="submit" value="add">
</form>




{% endblock body %}
