{% extends 'addbase.html' %}
{% block body %}
<form action="/addspell" method="POST">
<table class="spellAddTable">
    <tr>
        <th><label for="name"><b>Name</b></label></th>
        <th><label for="level"><b>Level</b></label></th>
        <th><label for="school"><b>School</b></th></label>
    </tr>
    <tr>
        <th><input id="name" type="text" name="spell_name" autofocus></th>
        <th><input id="level" type="number" name="spell_level" min="0" max="9" class="numberInput"></th>
        <th><select id="school" type="text" name="spell_school" list="schools">
            {% for school in schools %}
                <option value="{{ school.SchoolName }}">{{ school.SchoolName }}</option>
            {% endfor %}
                <option value="--" selected>--</option>
        </select></th>
    </tr>
</table>
<br>
<table class="spellAddTable">
    <tr>
        <th><label for="school"><b>Casting Time</b></label></th>
    </tr>
    <tr>
        <th><input id="castingtime" type="number" name="casting_time" min="0" max="999" class="numberInput"></th>
        <th><input id="castingtime_unit" type="text" name="casting_time_unit" list="duration_units"></th>
    </tr>
</table>
<br>
<table class="spellAddTable">
    <tr>
        <th><label for="school"><b>Range</b></label></th>
    </tr>
    <tr>
        <th><select id="range_type" type="text" name="range_type">
            {% set ranges = ["Self", "Touch", "Ranged", "Sight", "Unlimited"] %}
            {% for range in ranges %}
                <option value="{{ range }}">{{ range }}</option>
            {% endfor %}
        </select></th>
        <th><input id="range_number_value" type="number" name="range_number_value"></th>
        <th><input id="range_unit" type="text" name="range_unit"></th>
    </tr>
</table>

        <div>
            <label for="duration"><b>Spell Duration</b></label>
            <input id="duration" type="number" name="spell_duration">

            <input id="duration_unit" type="text" name="spell_duration_unit" list="duration_units">
            <datalist id="duration_units">
                {% set units = ["Instantaneous", "Round(s)", "Action(s)", "Reaction", "Second(s)", "Minute(s)", "Hour(s)", "Day(s)"] %}
                {% for unit in units %}
                    <option value="{{ unit }}">{{ unit }}</option>
                {% endfor %}
            </datalist>

            <table>
                <input type="hidden" name="spell_concentration" value="0">
                <tr><input type="checkbox" id="concentration" name="spell_concentration" value="1"></tr>
                <label for="concentration"> Concentration</label>
            </table>
        </div>


        
        <div>  
            <label for="source"><b>Source</b></label>
            <select id="source" type="text" name="spell_source" list="sources">
                {% for source in sources %}
                    <option value="{{ source.SourceName }}">{{ source.SourceName }}</option>
                {% endfor %}
            </select>
        </div>

        <br>
        <div>
            <b>Components:</b>
            <br>
            <table>
                <input type="hidden" name="v_component" value="0">
                <tr><input type="checkbox" id="v" name="v_component" value="1"></tr>
                <label for="v"> (V) Verbal <abbr title="The Verbal component requires the spellcaster be able to verbally speak while casting the spell">?</abbr></label>
                <br>

                <input type="hidden" name="s_component" value="0">
                <tr><input type="checkbox" id="s" name="s_component" value="1"></tr>
                <label for="s"> (S) Somatic <abbr title="The Somatic component requires the spellcaster be able to make a physical motion while casting the spell">?</abbr></label>

                <br>
                <input type="hidden" name="m_component" value="0">
                <tr><input type="checkbox" id="m" name="m_component" value="1"></tr>
                <label for="m"> (M) Material <abbr title="The Material component requires the spellcaster to consume a specified material to cast the spell">?</abbr></label>
            </table>
        </div>
        <br>
        <div>
            <label for="desc"><b>Description</b></label>
            <textarea id="desc" type="text" name="spell_desc"></textarea>
        </div>
        <br>

        <input type="submit" value="Add">
</form>

<form action="/spells">
    <input type="submit" value="Cancel">
</form>
<script>
var $rtype = $('#range_type'), $rvalue = $('#range_number_value'), $runit = $('#range_unit');
$rtype.change(function () {
    if ($rtype.val() == 'Ranged') {
        $rvalue.removeAttr('disabled');
        $runit.removeAttr('disabled');
    } else {
        $rvalue.attr('disabled', 'disabled').val('');
        $runit.attr('disabled', 'disabled').val('');
    }
}).trigger('change');
</script>


{% endblock body %}
