<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="=X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock head %}
</head>
<body>
    <div class="w3-container w3-teal">
        <h1>{% block h1 %}{% endblock %}</h1>
    </div>
    <nav>
        <ul id="navlist" class='w3-container'>
            {% if current_user %}
                <li class="navth"><p>{{('Logged in as {}'.format(current_user.username))}}</p></li>
            {% else %}
                <li class="navth"><a href="/login">Login</a></li>
            {% endif %}
            <li class="navth"><a href="/createuser">Create an account</a></li>
            <li class="navth"><a href="/spells">Home</a></li>
            <li class="navth" id='logout'><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block body %}
        {% endblock body %}
    </div>
</body>