{% extends 'contents.html' %}
{% block h1 %}
    {% if testsource %}
        Spells - {% for sources in testsource %}{% if source == 1 %}Official{% else %}Homebrew{% endif %}{% endfor %}
    {% endif %}
{% endblock %}
{% block body %}
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<div class="addnew">
    {% if current_user %}
        <a class="w3-btn w3-round-xxlarge w3-teal w3-hover-pale-green" href="/addspell">Add new spell</a>
    {% else %}
        <p>Log in to add new additions</p>
    {% endif %}
</div>
<table id="schoolsTable" class="w3-table-all w3-centered">
    <tr>
        <th id="hideschools" colspan="3" onclick="schoolToggle()" class='noselect'>Filter by School <i id="arrow" class="arrow up"></i></th>
    </tr>
    <tr id="toggleCheck" class="schoolToggle" style="display: none;">
        <th><a href="/spells/{{ source }}/1" class='noselect'>Abjuration</a></th>
        <th><a href="/spells/{{ source }}/2" class='noselect'>Conjuration</a></th>
        <th><a href="/spells/{{ source }}/3" class='noselect'>Divination</a></th>
    </tr>
    <tr class="schoolToggle" style="display: none;">
        <th><a href="/spells/{{ source }}/4" class='noselect'>Enchantment</a></th>
        <th><a href="/spells/{{ source }}/5" class='noselect'>Evocation</a></th>
        <th><a href="/spells/{{ source }}/6" class='noselect'>Illusion</a></th>
    </tr>
    <tr class="schoolToggle" style="display: none;">
        <th><a href="/spells/{{ source }}/7" class='noselect'>Necromancy</a></th>
        <th><a href="/spells/{{ source }}/8" class='noselect'>Transmutation</a></th>
        <th><a href="/spells/{{ source }}/9" class='noselect'>Other</a></th>
    </tr>
</table> 

<table class="sortable w3-table-all" id="spellsTable">
    <thead>
        <tr>
            <th class='noselect'>Name</th>
            <th class='noselect'>School</th>
            <th class='noselect'>Level</th>
            <th class='noselect'>View</th>
        </tr>
    </thead>
    <tbody>
        {% for spell in spells %}
            <tr class="item">
                <th>{{ spell.SpellName }}</th>
                <th>{{ spell.school.SchoolName }}</th>
                <th>{{ spell.SpellLevel }}</th>
                <td>
                    <form action="/viewspell/{{ spell.SpellID }}" method="GET">                    
                        <input type="submit" value="View">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    function schoolToggle() {
        var elems = document.getElementsByClassName('schoolToggle');
        if (document.getElementById('toggleCheck').style.display === 'none'){
            for (var i=0;i<elems.length;i+=1){
                elems[i].style.display = 'table-row';
            }
            document.getElementById('arrow').className ="arrow down"
        } else {
            for (var i=0;i<elems.length;i+=1){
                elems[i].style.display = 'none';
            }
            document.getElementById('arrow').className ="arrow up"
        }
    }
</script>

{% endblock %}