{% extends 'userbase.html' %}
{% block body %}

<h1>LOGIN</h1>
<desc style="color: red;">{{ error }}</desc>
<form action="/login" method="POST">
    <table>
        <tr>
            <label for="username">Username: </label>
            <input type="text" name="login_username" id="username" value="{{new_user.username}}">
            <br>
            <label for="password">Password: </label>
            <input type="password" name="login_password" id="password">
            <br>
            <input type="submit" value="Login">
        </tr>
    </table>
</form>
<a href="/createuser">Create Account</a>
<a href="/">Return to contents</a>

{% endblock body %}