{% extends 'userbase.html' %}
{% block body %}

<h1>CREATE USER</h1>
<desc style="color: red;">{{ error }}</desc>
<form action="/createuser" method="POST">
    <table>
        <tr>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
            <br>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
            <br>
            <input type="submit" value="Create User">
        </tr>
    </table>
</form>
<a href="/">Return to contents</a>

{% endblock body %}
